html {
  font-family: sans-serif;
  font-size: 0.5rem;
}

table {
  border: 1px solid lightgray;
  width: 95%;
  text-align: center;
}

tbody {
  border-bottom: 1px solid lightgray;
  color: rgba(0, 0, 0, 0.7);
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  text-transform: uppercase;
  min-width: 60px;
  color: rgba(0, 0, 0, 0.8);
}

td {
  padding: 3px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.severity,
.status {
  text-transform: uppercase;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
}

.progress {
  margin: 3px;
  width: 100%;
  height: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.finding-count {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
